div.coding-project-element {
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 3%;
}

p.coding-project-title {
    font-size: 238%;
    font-style: normal;
    font-family: var(--main-font);
    margin-bottom: 1%;
}

p.coding-project-description {
    font-size: 188%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 1%;
    margin-bottom: 0%;
}

a.coding-project-link {
    font-size: 150%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 1%;
    text-decoration: underline;
    text-align: left;
    color: rgb(55, 0, 255);
}

a.coding-project-link:visited {
    font-size: 150%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 1%;
    text-decoration: underline;
    text-align: left;
    color: rgb(22, 16, 108);
}

label.coding-project-state-done {
    font-size: 150%;
    font-style: normal;
    font-family: var(--secondary-font);
    margin-left: 0%;
    color: rgb(0, 0, 128);
}

label.coding-project-state-active {
    font-size: 150%;
    font-style: normal;
    font-family: var(--secondary-font);
    margin-left: 0%;
    color: rgb(0, 128, 0);
}

label.coding-project-state-deprecated {
    font-size: 150%;
    font-style: normal;
    font-family: var(--secondary-font);
    margin-left: 0%;
    color: rgb(128, 0, 0);
}