.language-chooser {
    position: absolute;
    top: 5px; /* Adjusts the vertical position */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0; /* Vertical padding for spacing */
    background-color: rgb(0, 0, 233, 0.253);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.end_section{
    background-color: rgb(0, 0, 233, 0.253); /* Blue */
    color:white;
    padding: 40px;
    border-radius: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    position:sticky;
    text-align: center;
}
h1 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 4cm;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
p.click_for{
    font-size: 0.8cm;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}
a:hover.go_back{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0cm;
    text-decoration: underline;
}
a:link.go_back{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0cm;
    text-decoration: none;
    text-align: center;
}
a:visited.go_back{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0cm;
    text-decoration: underline;
    color:rgb(0, 0, 233);
    text-align: center;
}
p.about_me{
    display: block;
    font-size: 1cm;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0cm;
    text-align: left;
    margin-left: 30px;
    text-decoration: none;
}