@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-font: 'Noto Serif', serif;
}

.language-chooser {
    position: absolute;
    top: 5px; /* Adjusts the vertical position */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0; /* Vertical padding for spacing */
    background-color: rgb(0, 0, 233, 0.253);
    color: white;
    font-family: var(--main-font);
}
.end_section{
    background-color: rgb(0, 0, 233, 0.253); /* Blue */
    color:white;
    padding: 40px;
    border-radius: 0px;
    font-family: var(--main-font);
    font-size: 24px;
    position:sticky;
    text-align: center;
}
h1 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 4cm;
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 100;
}
p.click_for{
    font-size: 0.8cm;
    font-style: italic;
    font-family: var(--main-font);
    margin-bottom: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}
a:hover.go_back{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: underline;
}
a:link.go_back{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: none;
    text-align: center;
}
a:visited.go_back{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: underline;
    color:rgb(0, 0, 233);
    text-align: center;
}
p.about_me{
    display: block;
    font-size: 1cm;
    font-style: italic;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-align: left;
    margin-left: 30px;
    text-decoration: none;
}

/* CSS moved from index.html */
img{
    width: 40px;
    height: auto;
}
a:hover{
    display: block;
    font-size: 1.2cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-align: center;
    text-decoration: underline;
}
a:link{
    display: block;
    font-size: 1.2cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-align: center;
    text-decoration: none;
}
a:visited{
    display: block;
    font-size: 1.2cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-align: center;
    text-decoration: underline;
    color:rgb(0, 0, 233)
}

/* CSS moved from mc_art.html */
img{
    width: 33%;
    height: auto;
}
p.art_title {
    font-size: 1cm;
    font-family: var(--main-font);
    text-align: left;
    margin-left: 30px;
}
p.art_info {
    font-size: 0.8cm;
    font-family: var(--main-font);
    text-align: left;
    margin-left: 30px;
}

/* CSS moved from about.html */
a:hover.web{
    display: inline;
    display: block;
    font-size: 1cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: underline;
    text-align: center;
}
a:link.web{
    display: inline;
    display: block;
    font-size: 1cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: underline;
    text-align: center;
}
a:visited.web{
    display: inline;
    display: block;
    font-size: 1cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: underline;
    text-align: center;
}
p.mail{
    display: inline;
    display: block;
    font-size: 1cm;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0cm;
    text-decoration: underline;
    text-align: center;
}

/* Additional utility classes for inline styles */
.intro-title {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.7cm;
    font-style: normal;
    font-family: var(--main-font);
}

.intro-subtitle {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.5cm;
    font-style: italic;
    font-family: var(--main-font);
    font-weight: 300;
}

.intro-description {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.7cm;
    font-style: normal;
    font-family: var(--main-font);
}

.contents-heading {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.4cm;
    font-style: italic;
    font-family: var(--main-font);
}

.about-me-small {
    font-size: 0.6cm;
}

.web-link-github {
    color: rgba(0, 0, 0, 0.729);
}

.web-link-youtube {
    color: rgba(241, 22, 22, 0.729);
}

.web-link-jetphotos {
    color: rgba(19, 132, 230, 0.729);
}

.mail-email {
    color: rgba(0, 130, 0, 0.729);
}

.about-me-centered {
    text-align: center;
    margin-left: 0px;
}