/* CSS moved from mc_art.html */
img {
    width: 33%;
    height: auto;
}
p.art_title {
    font-size: 238%;
    font-family: var(--main-font);
    text-align: left;
    margin-left: 3%;
}
p.art_info {
    font-size: 188%;
    font-family: var(--main-font);
    text-align: left;
    margin-left: 3%;
}

div.element {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    margin-top: 0%;
}