/* CSS moved from start.html */
.language-chooser {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
h1 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.7cm;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
