p.mail{
    display: inline;
    display: block;
    font-size: 238%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: underline;
    text-align: center;
    color: green;
}