img.icon {
    width: 3%;
    height: auto;
}
a.link:hover{
    font-size: 281%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: underline;
    color: rgb(0, 0, 233, 0.253);
}
a.link:link{
    font-size: 281%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: none;
    color: rgb(0, 0, 233, 0.253);
}
a.link:visited{
    font-size: 281%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: underline;
    color: rgb(0, 0, 233, 0.253);
}

div.content-element {
    display: block;
    text-align: center;
}

/* Additional utility classes for inline styles */
.intro-title {
    margin-left: 8%;
    text-align: left;
    margin-top: 1.5%;
    margin-bottom: 0px;
    font-size: 400%;
    font-style: normal;
    font-family: var(--main-font);
}

.intro-subtitle {
    margin-left: 8%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 119%;
    font-style: italic;
    font-family: var(--main-font);
    font-weight: 300;
}

.intro-description {
    margin-left: 8%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 1%;
    font-size: 281%;
    font-style: normal;
    font-family: var(--main-font);
}

.contents-heading {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1%;
    font-size: 331%;
    font-style: italic;
    font-family: var(--main-font);
}
