:root {
    --main-font: 'Times New Roman', Times, serif;
    --secondary-font: monospace;
}

body {
    margin: 0;
    padding: 0;
}

.language-chooser {
    position: absolute;
    top: 0px; /* Adjusts the vertical position */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1% 0; /* Vertical padding for spacing */
    background-color: rgb(0, 0, 233, 0.253);
    color: white;
    font-family: var(--main-font);
    font-size: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
}

.nav-separator {
    color: white;
    font-size: 100%;
}

a.nav-link {
    display: inline !important;
    font-size: 100% !important;
    font-style: normal;
    font-family: var(--main-font);
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

a.nav-link:link {
    color: white;
}

a.nav-link:hover {
    text-decoration: underline;
}

a.nav-link:visited {
    color: white;
}
.end_section{
    background-color: rgb(0, 0, 233, 0.253); /* Blue */
    color:white;
    padding: 2%;
    border-radius: 0px;
    font-family: var(--main-font);
    font-size: 170%;
    position:sticky;
    text-align: center;
    margin-top: 5%;
}
.copyright {
    display: block; /* Makes the top margin work */
    font-size: 80%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 2%;
    text-align: center;
}
h1 {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 1.5%;
    text-align: left;
    font-size: 900%;
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 100;
}
p.click_for{
    font-size: 188%;
    font-style: italic;
    font-family: var(--main-font);
    margin-bottom: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}
a:hover.go_back{
    display: block;
    font-size: 125%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: underline;
}
a:link.go_back{
    display: block;
    font-size: 125%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: none;
    text-align: center;
    color: black;
}
a:visited.go_back{
    display: block;
    font-size: 125%;
    font-style: normal;
    font-family: var(--main-font);
    margin-top: 0;
    text-decoration: underline;
    color:rgb(0, 0, 233);
    text-align: center;
}
p.main-text{
    display: block;
    font-size: 238%;
    font-style: italic;
    font-family: var(--main-font);
    margin-top: 0;
    text-align: left;
    margin-left: 8%;
    margin-right: 5%;
    text-decoration: none;
}

.main-text-small {
    font-size: 144%;
    font-style: italic;
    margin-left: 8%;
    margin-right: 5%;
}